// Variables
$violet: hsl(257, 40%, 49%);

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: $violet url("/images/bg-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  //the background image must be set and colored through CSS if you want more control
  // positioning and repeat options are required.
}
