// Variables
$violet: hsl(257, 40%, 49%);

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-image: url("/images/bg-desktop.svg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  text-align: center;
  background-color: $violet;
}
//the background image must be set and colored through CSS if you want more control
// positioning left* in this instance and repeat options are required.
