/*Font Import*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

/*Reset*/ /*Body*/
@import "./reset";
@import "./body";

// Variables
$violet: hsl(257, 40%, 49%);
$magenta: hsl(300, 69%, 71%);

.logo {
  display: flex;
  position: absolute;
  top: 4em;
  left: 7.6em;
}

.image-container {
  display: flex;
  position: absolute;
  top: 13em;
  left: 8em;
  width: 50%;
}

main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 12.5em;
  right: 13.3125em;
  width: 30.5%;

  #header {
    font-size: 2.5em;
    font-weight: 600;
    color: #ffff;
    text-align: left;
    margin-bottom: 0;
  }
  #slogan {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
    line-height: 1.6875em;
    color: #ffff;
    font-weight: 200;
    text-align: left;
    margin-top: 1.5em;
    margin-bottom: 0;
  }
  #button {
    border: 1px solid #ffff;
    border-radius: 28px;
    box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.158633);
    background-color: #ffff;
    color: $violet;
    width: 12.5em;
    height: 3.5em;
    font-size: 1.125em;
    margin-top: 2em;

    &:hover {
      background-color: $magenta;
      color: #ffff;
      border: 1px solid $magenta;
      transition: 0.2s ease-in-out;
    }
  }
}
.links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  position: absolute;
  top: 47em;
  right: 11em;
  width: 15%;
  #link {
    width: 100%;
    color: #ffff;
  }
}

@media only screen and (max-width: 375px) {
  body {
    background-image: url("/images/bg-mobile.svg");
    background-size: contain;
    background-position: top;
  }

  .logo {
    width: 9em;
    top: 2em;
    left: 1.2em;
    #huddle {
      width: 100%;
    }
  }
  .image-container {
    width: 20.5em;
    top: 7.9375em;
    left: 2.1em;
  }
  #images {
    width: 90%;
  }
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17em;
    left: 36px;
    top: 396px;
    #header {
      margin-top: 0;
      font-size: 1.5em;
      text-align: center;
    }
    #slogan {
      margin-top: 1em;
      font-size: 1em;
      text-align: center;
      line-height: 1.5em;
    }
    #button {
      width: 12.5em;
      height: 2.5em;
    }
  }
  .links {
    width: 50%;
    left: 4.5em;
    #link {
      width: 100%;
    }
  }
}
