/*Font Import*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
/*Reset*/
/*Body*/
body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
}

html *,
html *::before,
html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-image: url("/images/bg-desktop.svg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #674baf;
  overflow: auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 4em;
  left: 7.6em;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 13em;
  left: 8em;
  width: 50%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 12.5em;
  right: 13.3125em;
  width: 30.5%;
}

main #header {
  font-size: 2.5em;
  font-weight: 600;
  color: #ffff;
  text-align: left;
  margin-bottom: 0;
}

main #slogan {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  line-height: 1.6875em;
  color: #ffff;
  font-weight: 200;
  text-align: left;
  margin-top: 1.5em;
  margin-bottom: 0;
}

main #button {
  border: 1px solid #ffff;
  border-radius: 28px;
  -webkit-box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.158633);
          box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.158633);
  background-color: #ffff;
  color: #674baf;
  width: 12.5em;
  height: 3.5em;
  font-size: 1.125em;
  margin-top: 2em;
}

main #button:hover {
  background-color: #e882e8;
  color: #ffff;
  border: 1px solid #e882e8;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 47em;
  right: 11em;
  width: 15%;
}

.links #link {
  width: 100%;
  color: #ffff;
}

@media only screen and (max-width: 375px) {
  body {
    background-image: url("/images/bg-mobile.svg");
    background-size: contain;
    background-position: top;
  }
  .logo {
    width: 9em;
    top: 2em;
    left: 1.2em;
  }
  .logo #huddle {
    width: 100%;
  }
  .image-container {
    width: 20.5em;
    top: 7.9375em;
    left: 2.1em;
  }
  #images {
    width: 90%;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 17em;
    left: 36px;
    top: 396px;
  }
  main #header {
    margin-top: 0;
    font-size: 1.5em;
    text-align: center;
  }
  main #slogan {
    margin-top: 1em;
    font-size: 1em;
    text-align: center;
    line-height: 1.5em;
  }
  main #button {
    width: 12.5em;
    height: 2.5em;
  }
  .links {
    width: 50%;
    left: 4.5em;
  }
  .links #link {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */